/* General Page styling */
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-areas: 
        'sb m m m m m m m m m'
        'sb m m m m m m m m m'
        'sb m m m m m m m m m'
        'sb m m m m m m m m m'
        'sb m m m m m m m m m'
        'sb m m m m m m m m m'
        'f f f f f f f f f f';
}

/* Side bar */
aside {
    min-height: 39rem;
    height: auto;
    grid-area: sb;
    background-color: black;
}

/* Main */
main {
    grid-area: m;
    background-color: grey;
}

/* footer */
footer {
    grid-area: f;
    background-color: black;
    display: flex;
    justify-content: space-between;

    & > section[class=album] {
        flex-grow: 1;
    }

    & > section[class=control] {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & > section[title=btn-panel] {
            align-self: center;
        }
    }

    & > section[class=icons] {
        flex-grow: 1;
    }
}

/* Progress bar styling */

.pb-border,
.progressbar {
    border-radius: 20px;
}

.pb-border {
    width: 100%;
    height: 4px;
    background-color: #4d4d4d;
    margin-bottom: 4px;
}

.progressbar {
    background-color: white;
    height: inherit;
    width: 0%;
}

button {
    border: 0;
    border-radius: 100%;
    padding: 0;
    background-color: #b3b3b3;

    &[class=start] {
        font-size: 1vh;
        height: 4vh;
        width: 4vh;
        margin: 0 2vh
    }

    &[class=reset],
    &[class=stop] {
        font-size: 0.75vh;
        height: 3vh;
        width: 3vh;
    }
}